!!! 5
html( lang="en" )
  head
    block head
      meta( charset="utf-8" )
      meta( name="viewport", content="width=device-width" )
      title
        block title
          | Hixson Urology
      link( href="css/layout.css", rel="stylesheet", type="text/css" )
      link( rel="icon", href="/favicon.ico", type="image/png" )
  body
    #page
      header
        block header
          .info
            h1: a( href="/" ) Hixson Urology
            p Proudly serving Metro Chattanooga for 2 decades
            //p Experienced board-certified Urologists, Compassionate Care, Personalized Treatment
            address
              p 2051 Hamill Road, Suite 201, Hixson, TN 37343
              p Tel: (423) 877-2844 Fax: (423) 877-1959
          nav: ul
            li: a( href="index.html" ) Welcome
            li: a( href="physicians.html" ) Physicians
            li: a( href="services.html" ) Services
            li: a( href="directions.html" ) Directions
            li: a( href="policies.html" ) Office Policies
            li: a( href="contact.html" ) Contact Us

            li: a( href="/new.html" ) New Patient
      #content
        block content
